@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}
ul{
    position: relative;
    display: flex;
    flex-direction: column;
}
ul li{
    list-style: none;
    transition: 0.5s;
}
ul li a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: transparent;
    font-weight: 900;
    font-size: 3em;
    letter-spacing: 2px;
    padding: 0 10px;
    line-height: 1.2em;
}
ul li a::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    -webkit-text-stroke: 1px #eee;
    transform: translateX(0);
    transition: 0.5s;
    pointer-events: none;
}
ul li a:hover::before{
    transform: translateX(100%);
    opacity: 0;
}
ul li a::after{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #03f4f2;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}
ul li a:hover::after{
    transform: translateX(0);
    opacity: 1;
}